body{
	background-color: #a1d1b5;
	color:white;
}

h1 {
	margin-top: 200px;
	margin-bottom: 50px;
	font-family: "Autour One";
	font-size: 60px;
}

h4 {
	font-family: "Mallanna";
	margin-bottom: 50px;
	font-size: 25px;
}
.font-box {
	padding: 70px;
	display: inline-block;
	border: solid 1px #aaa;
	text-align: center;
	margin: 30px;
	font-size: 30px;
	background-color: #ddd;
	width: auto;
	float:none;
	color:black;

}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #a1d1b5;
}

.modal-content {
  text-align: center;
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: #a1d1b5;

}

#reset{
	margin-top: 50px;
	display: none;
}

p {
	font-size: 15px;
	color: #aaa;
	font-family: Avenir;
}

.changeText{
	margin-top: 75px;
	margin-bottom: 10px;
}

#fonts {
	text-align: center;
	height: 70% !important;
	overflow-y: scroll;
}

#userText {
	width: 600px;
	height: 50px;
	border: none;
	background-color: #a1d1b5;
  border-bottom: solid 3px #fff;
  transition: border 0.3s;
  font-size: 20px;
}

*::-webkit-input-placeholder {
    color: #77847c;
    font-size: 15px;
}

#goButton {
	height: 50px;
	font-size:40px;
	background-color: #a1d1b5;
	border: none;
}
.navbar-brand {
	float:right;
}